body {
  background-color: #293c5b;
  margin: auto;
}

header {
  height: 130px;
  width: 1000px;
  font-family: 'ABeeZee', sans-serif;
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
}

#titlebox {
  width: calc(100% - 325px);
  text-align: center;
  display: inline-block;
}
#title {
  font-size: 115px;
  margin: auto;
}

#bus {
  width: 325px;
  float: left;
}

#content {
  display: inline-block;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.images{
  width: 1000px;
  margin: auto;
  margin-left: 385px;
}

#welcome {
  background-color: #fff;
  width: 275px;
  height: 100%;
  margin-left: 84px;
  margin-bottom: 20px;
  display: inline-block;
  float: left;
  margin-top: 10px;
  padding-left: 7px;
  padding-right: 7px;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: #8e1517;
}

#leftimage {
  width: 200px;
  height: 200px;
  padding: 10px;
}

#centerimage {
width: 200px;
height: 200px;
padding: 10px;
}

#rightimage {
width: 200px;
height: 200px;
padding: 10px;
}

.hidden {
  display: none;
}

canvas {
background: #fff;
display: block;
height: 693px;
max-width: 1100px;
margin: auto;
}
